:root {
    --cor-1: #E6E6E6;
    --cor-2: #067BC2;
    --cor-3: #2b2c2e;
    --cor-4: rgb(197, 32, 32);
    --cor-5: #E4C46E;
}

* {
    margin: 0px;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 13pt;
    background-color: rgb(0, 0, 0);
    color: black;
}

input:hover {
    background-color: #c4c4c47e;
}

input:focus {
    background-color: #c4c4c47e;
}

header {
    padding: 0px 0px 20px 130px;
    height: 20px;
    text-align: center;
    background-image: linear-gradient(to top, black, var(--cor-3));
    line-height: 12pt;    
}

header p {
    color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.pcsc {
    float: top;
    padding-left: 22px;
}

#menulateral {
    background-image: linear-gradient(to bottom, black, var(--cor-3));
    margin: 0px ;
    padding: 0px;
    float: left;
    position: static;
    width: 125px;
    height: 500px;
    border: 10px solid black;
    border-radius: 0px 0px 15px;
    box-shadow: inset 3px 3px 10px 10px black;
}

.botaolink {
    width: 100px;
    height: 150px;
    background-image: linear-gradient(to bottom, black, var(--cor-3));
    box-shadow: inset 1px 1px 10px 5px black;
    margin-left: 15px;
    margin-top: 20px;
    transition: 0.4s;
}

.botaolink:hover {
    height: 160px;
    box-shadow: 3px 3px 15px 2px white;
} 

.botaolink > h3 {
    color: var(--cor-5);
    font-size: 0.8em;
}

#antena {
    float: right;
    width: 65px;
    height: 85px;
}

div#cabecalho {
    padding-top: 10px;
    background-image: linear-gradient(to bottom, black, var(--cor-3));
    text-align: center;
    height: 100px;
    min-width: 420px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 30px 5px rgb(89, 37, 212);
    
}

h1 {
    color: var(--cor-5);
    font-size: 1.27em;
    padding-top: 20px;
    text-shadow: 3px 3px 10px #e0a50288;
}




main {
    width: 440px;
    margin: auto;
    padding: 0px 0px 30px 130px;
}

div#conteudo {
    background-color: var(--cor-1);
    padding: 0px 10px 10px 10px;
    border-radius: 5px 5px 15px 15px;
}

main h2 {
    background-color: white;
    color: var(--cor-2);
    font-size: 1.1em;
    padding: 4px 4px 2px 4px;
    text-align: center;
    border-radius: 8px;
}

main label {
    font-size: 0.9em;
}

.dadosof {
    font-size: 1.15em;
    font-weight: bold;
    color: var(--cor-4);
    padding: 4px 5px;
    width: 90px;
    text-align: center;
    margin-bottom: 10px;
}

#inporigem {
    font-size: 1.12em;
    font-weight: bold;
    color: var(--cor-4);
    padding: 5px 5px 2px 5px;
    margin-bottom: 18px;
    width: 370px;
    text-align: center;
}

#divbotoesindexador {
    display: flex;
}

.indexador {  /*botões */
    margin: auto;
    height: 120px;
    width: 110px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    transition: 0.3s;
}

.indexador:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    width: 120px;
    
}

button > h3 {
    margin: 0px;
}

#divalvo {
    padding: 20px 5px;
}

#divalvo h4 {
    margin: 0px;
    text-align: center;
    background-color: var(--cor-3);
    padding: 3px 0px;
    color: var(--cor-1);
    border-radius: 5px;
}

h4 > strong {
    font-size: 1.3em;
    background-color: rgb(78, 78, 78);
    padding: 2px;
    border-radius: 4px;
}

#divalvo input {
    font-size: 1.14em;
    font-weight: bold;
    color: var(--cor-4);
    padding: 12px 5px 6px 5px;
    width: 395px;
    text-align: center;
}

#divdatas {
    display: flex;
    margin-bottom: 18px;
}

.sdatas {
    margin: auto;
}

.inpdata {
    font-size: 1.12em;
    font-weight: bold;
    color: var(--cor-4);
    padding: 4px 5px;
    width: 140px;
    height: 30px;
    text-align: center;
}

#requisitar {
    text-align: center;
    display: flex;
    background-color: #2b2c2e2c;;
    border-radius: 10px;
}

#operadoras {
    padding: 3px 0px 3px 100px;
   
}

.operadoras {
    margin-top: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.274);
}

div#prazo {
    text-align: center;
    margin: 0px 30px 0px 50px;
    padding: 3px 10px 3px 10px;
}

div#prazo > h2 {

}

div#fim {
    padding-top: 30px;
    text-align: center;
}


#gerardocx {
    margin-top: 2px;
    padding: 6px 6px;
    background-color: #fff;
    color: #2596be;
    border: 2px solid #2596be;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    }
    #gerardocx:hover {
        background-color: #2596be;
        color: #fff;
        box-shadow: rgb(185, 9, 9) 0px 20px 30px -10px;
        }
    
footer {
    text-align: center;
    padding: 0px 0px 20px 130px;
}

footer > a {
    padding: 2px;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

footer > a:hover {
    font-size: 1em;
    position: relative;
    color: rgb(167, 11, 167);
}

em {
    color: rgb(59, 59, 59);
    font-size: 0.9em;
}